extends 'core/student_list.jade'
- load bootstrap3


block content
    block breadcrumb
      ol.breadcrumb
        li
          a(href="{% url 'feed' %}") Все фиды
        - if request.GET.year
          li {{ request.GET.year }}
        - elif request.GET.student_id
          li {{ student }}
        - elif request.GET.author_id
          li {{ author }}
        - elif request.GET.grade
          - if year
            li
              a(href="{% url 'feed' %}?year={{ year }}") {{ year }}
            li {{ letter }}
          - else
            li {{ grade }}

    #feed.feed-list
      table.table.table-hover
        thead
          tr
            th Дата
            th Выпускник
            th Тип
            th Значение
            th Статус
            th Имя
            th За
            th Против
        tbody
          - for i in object_list
            tr
              td {{ i.status_update_date|date:"d.m.Y H:i" }}

              td
                a(href='{% url "feed" %}?student_id={{ i.target_id }}')
                  | {{ i.target.name }}
                = ' '
                a(href='{% url "feed" %}?grade={{ i.target.main_grade }}')
                  | {{ i.target.main_grade }}

              td {{ i.get_field_name_display }}

              td
                - if i.field_name == 'email'
                    -
                - else
                    {{ i.field_value }}

              td {{ i.get_status_display }}

              td {{ i.author_code.owner|default:"" }}

              td
                - for j in i.votes_up
                  - if j is None
                    | Аноним
                  - else
                    a(href='{% url "feed" %}?author_id={{ j.pk }}')
                      | {{ j }}
                  br

              td
                - for j in i.votes_down
                  - if j is None
                    | Аноним
                  - else
                    a(href='{% url "feed" %}?author_id={{ j.pk }}')
                      | {{ j }}
                  br

            - empty
              tr
                td Пусто.

    - if page_obj
        - bootstrap_pagination page_obj url=request.get_full_path

    .students-bottom
