extends 'core/base.html'

block content

    p.lead
        Обновляемый список выпускников школы 57 г. Москвы с краткими контактами.
        Если вы учились в 57 школе и можете дополнить информацию про себя или одноклассников, будьте добры, потратьте немного времени.
        Голосуйте за или против правок, если у вас есть более точная информация.
        Авторизуйтесь кодом выпускника (#[a(href="http://auth.alumni57.ru") auth.alumni57.ru]), чтобы вашей информации больше доверяли.

    - for g, l in grades
        article
            h2
                a(href="{% url 'student-list' %}?year={{ g }}")
                    | {{ g }}

                - for i in l
                    | &nbsp;
                    a(href="{% url 'student-list' %}?grade_id={{ i.pk }}")
                        | {{ i.letter }}
