extends 'core/base.html'

block content

    #show_info.hidden
        a.btn.btn-default.btn-lg Что это?

    #about_info.jumbotron
        p.lead
            Обновляемый список выпускников школы 57 г. Москвы с краткими контактами.
            Если вы учились в 57 школе и можете дополнить информацию про себя или одноклассников, будьте добры, потратьте немного времени.
            Голосуйте за или против правок, если у вас есть более точная информация.
            Авторизуйтесь #[a(href="http://auth.alumni57.ru") кодом выпускника], чтобы вашей информации больше доверяли.
        a#close_info.btn.btn-primary.btn-lg(role="button") Закрыть
        | &nbsp;
        a.btn.btn-default.btn-lg(role="button" href="/qa") Q&A

    - for g, l in grades
        article
            h2
                a(href="{% url 'student-list' %}?year={{ g }}")
                    | {{ g }}

                - for i in l
                    | &nbsp;
                    a(href="{% url 'student-list' %}?grade_id={{ i.pk }}")
                        | {{ i.letter }}

    :coffeescript
        $ ->
            about_info = $('#about_info')
            close_info = $('#close_info')
            show_info = $('#show_info')

            c = getCookie('__hide_info')
            if c == '1'
                show_info.removeClass('hidden')
                about_info.addClass('hidden')

            close_info.on 'click', ->
                show_info.removeClass('hidden')
                about_info.addClass('hidden')
                setCookie('__hide_info', 1, 31)

            show_info.on 'click', ->
                show_info.addClass('hidden')
                about_info.removeClass('hidden')
                setCookie('__hide_info', 0, 31)
