extends 'core/base.html'

block nav
    {{ block.super }}
    li
        a(href="{% url 'student-create' %}")
            | Добавить выпускника

block content

    h1 Список классов:

    ul
        - for grade in object_list
            li
                a(href="{% url 'student-list' grade_id=grade.pk %}")
                    | {{ grade.graduation_year }} ({{ grade.letter }})
            - empty
                li Пусто.
