extends 'core/base.html'

block content

    h1 Список классов:

    - for g, l in grades
        article
            h1
                a(href="{% url 'student-list' %}?year={{ g }}")
                    | {{ g }}

                - for i in l
                    | &nbsp;
                    a(href="{% url 'student-list' %}?grade_id={{ i.pk }}")
                        | {{ i.letter }}
