#modal-login.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Авторизация
      .modal-body
        form(action="{% url 'api-login' %}", method="post")
          .form-group
            p#login-error.bg-danger Введите правильный код
          - csrf_token
          .form-group
            label Код аутентификации
            input.form-control(name='auth_code', type='text', required='required', value='{{ request.session.auth_code|default:"" }}')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
        button#btn-login.btn.btn-primary(type='button') Войти
        button#btn-anon.btn.btn-default(type='button') Анонимно

:coffeescript
    $ ->
        modal = $('#modal-login')
        form = modal.find 'form'
        key_auth = 'is_auth'
        login_error = $('#login-error')
        auth_ptrn = /\w[\w-]+-\d{5,}$/
        auth_code = '{{ request.session.auth_code|default:"" }}'

        rend_auth_code = (auth_code) ->
            auth_code = auth_code.replace /(-)\d+(\d{4})$/, '$1XXXXXXXXXXX$2'
            $('#btn-login').text auth_code

        if auth_code.length
            rend_auth_code auth_code

        window.check_login = (callback) ->
            sess = sessionStorage.getItem key_auth
            if !sess and auth_code.length == 0
                modal.css 'z-index', 2000
                login_error.hide()
                modal.modal 'show'
                modal.callback = callback
                return true
            if !!callback
                callback()
            return false

        sendForm = ->
            code = form.find('[name="auth_code"]').val()
            if code.length > 0 and !auth_ptrn.test(code)
                login_error.show()
                return
            login_error.hide()

            $.post form.prop('action'), form.serialize(), (data) ->
                if not data.length
                    data = 'Вход'
                rend_auth_code data
                sessionStorage.setItem key_auth, true
                modal.modal 'hide'
                if !!modal.callback
                    modal.callback()

        modal.on 'click', '#btn-login', sendForm

        modal.on 'click', '#btn-anon', ->
            form.find('[name="auth_code"]').val('')
            sendForm()
