extends 'core/base.html'

block scripts
    style.
        .question {
            margin-top: 2em;
            margin-bottom: 0;
        }

block content

    h2 Директория выпускников Q&A


    p Мы в пилотном режиме запускаем две программы «коды выпускников» (#[a(href="http://auth.alumni57.ru") auth.alumni57.ru]) и «директория выпускников» (#[a(href="http://dir.alumni57.ru") dir.alumni57.ru]) 57-й. Что это, и как это работает, объясним в формате вопросов и ответов.


    p.question #[b Q. Что такое "директория выпускников"?]
    p #[b A.] Это список выпускников 57-й, который позволяет узнать, кто, где и с кем учился, краткий статус — где учится или работает, в каком городе живет сейчас. Также позволяет связаться с выпускником, отправив сообщение на почту через сайт, а также добавить в друзья в социальных сетях. Основные задачи директории: а) восстановить связи со старыми друзьями б) удовлетворить любопытство в) лучше оформить сообщество выпускников.


    p.question #[b Q. Откуда в директории информация?]
    p #[b A.] Первоначально в директорию загружены ранее собранные данные (#[a(href="http://sch57.ru/people/alumni/") sch57.ru/people/alumni/]). После этого мы рассчитываем на пополнение и уточнение информации активными выпускниками по википедийному принципу. Вы можете дополнить / исправить информацию про себя или любого другого выпускника. Рассчитывать, что он сделает это сам, не стоит, поэтому будьте активней, заполняйте информацию про других, если вы ее знаете.


    p.question #[b Q. Можно ли ей верить?]
    p #[b A.] На 100%, конечно, нельзя. Но мы рассчитываем на то, что злоупотреблений будет мало, а активные выпускники будут помогать уточнять информацию. Для этого в директории есть не только возможность вносить правки, но и голосовать за или против правок, введенных другими выпускниками. Для внесения правок мы рекомендуем авторизоваться кодом выпускника (#[a(href="http://auth.alumni57.ru") auth.alumni57.ru]). Вся история правок и голосований записывается, а решающее правило определяет, можно ли верить какой-то правке, выводить ее как предположение или, в редких случаях, — скрывать.


    p.question #[b Q. Как связаться с выпускником?]
    p #[b A.] Проще всего — через социальные сети, если указаны профили. Добавьте выпускника в друзья и напишите ему. Если он оставил свой email в директории в скрытом виде, ему можно написать через форму, не забыв указать контакты для обратной связи. Но часть почты улетает в спам, имейте в виду.


    p.question #[b Q. Еще одна социальная сеть? Но какая-то неполноценная.]
    p #[b A.] Нет, мы не хотим создавать новую среду для общения, вместо этого — сразу перенаправлять в уже существующие. Также мы не просим вас заводить в директории свой богатый профиль со всеми контактами и биографией. Только краткую информацию про город и компанию, а также указывать минимальное кол-во информации, чтобы с выпускником можно было связаться за пределами директории. Мы не хотим развивать ни представление профилей, ни форматы связей в директории, эти задачи уже решены другими сервисами.


    p.question #[b Q. Нужно ли регистрироваться в директории, чтобы голосовать?]
    p #[b A.] Нет. Системы голосования, выдачи кодов выпускников и директория — независимы, хотя и полезны друг другу. Но если вы убедитесь, что правильно зарегистрированы, это возможно уменьшит кол-во ручной работы для организаторов выборов. 


    p.question #[b Q. Что делать сейчас?]
    p #[b A.] Попробуйте получить код выпускника. Если быстро не получится, сделайте это позже. Уточните свою информацию в директории. А, главное, заполните контакты одноклассников, с которыми поддерживаете связи, или про которых что-то знаете. Покажите им директорию, пришлите ссылку на ваш класс. Если вы считаете себя активным выпускником, заполните информацию про 10 или больше знакомых.
