extends core/student_list
- load bootstrap3

block nav
    li
        a(href="/") Список классов
    li.active
        a Поиск
    li
        a(href="{% url 'student-create' %}")
            | Добавить выпускника

block content

    #student-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content

    ul#students
        - for student in object_list
            li.student(data-href="{% url 'student-detail' pk=student.id %}")
                include include/student_item

            - empty
                li Ничего не найдено

    - bootstrap_pagination page_obj url=request.get_full_path
