extends 'core/base.html'

block nav
    li
        a(href="/") Список классов
    li.active
        a Класс "{{ grade.letter }}" выпуск {{ grade.graduation_year }} года
    li
        a(href="{% url 'grade-student-create' grade_id=grade.id %}")
            | Добавить выпускника

block scripts
    style.
      .value-badge {
        background: #eee;
        color: #777;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 2px 3px;
      }
      .value-untrusted {
        font-style: italic;
      }
      .students-list li {
        margin-top: 9px;
      }
    :coffeescript
        $ ->
            modal = $ '#student-modal'
            students = $ '#students'
            students.on 'click', '.student', (e) ->
                astudent = $ e.target
                if not astudent.hasClass 'student'
                    astudent = astudent.parents '.student'
                url = astudent.data 'href'
                modal.find('.modal-content').load url + ' #main-content > *', ->
                    suggest = modal.find '.suggest'
                    url = '{% url "suggest-list" %}'
                    suggest.typeahead
                      source: (query, process) ->
                        $.get url + '?query=' + query, (data) ->
                          process data.data
                      matcher: -> true
                modal.modal('show')
    include core/include_vote

block content
    h1
        | Список выпускников класса "{{ grade.letter }}"
        | {{ grade.graduation_year }} года выпуска:

    #student-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content

    ul#students.students-list
        - for student in object_list
            li
                include include/student_item

            - empty
                li Пусто.
