extends 'core/base.html'
- load bootstrap3

block scripts
    style.
      .modal-body .close {display: none;}
      .modal-footer .btn-cls {display: none;}
      .value-badge {
        background: #eee;
        color: #777;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 2px 3px;
      }
      .value-untrusted {
        font-style: italic;
      }
      .students-list .student {
        margin-top: 9px;
      }
      .students-bottom {
        padding-bottom: 350px;
      }
      .student-email, .student-window {cursor: pointer;}
      #tab-student {
        overflow-y: auto;
        height: 200px;
      }
    :coffeescript
        $ ->
            modal = $ '#student-modal'
            nav = $ '#student-nav'
            nav.hide()
            students = $ '#students'
            student = null

            show_tabs = (astudent, callback) ->
                if not astudent.hasClass 'student'
                    astudent = astudent.parents '.student'
                url = astudent.data 'href'
                nav.load url + ' #main-content > *', ->
                    if !!callback
                        callback()
                    nav.slideDown()
                    suggest = nav.find '.suggest'
                    url = '{% url "suggest-list" %}'
                    suggest.typeahead
                      source: (query, process) ->
                        $.get url + '?query=' + query, (data) ->
                          process data.data
                      matcher: -> true

            students.on 'click', '.student-window', (e) ->
                e.preventDefault()
                student = $ e.target
                show_tabs student

            students.on 'click', '.student-email', (e) ->
                e.preventDefault()
                student = $ e.target
                show_tabs student, ->
                    $('#send-email').tab 'show'

            nav.on 'click', '.add-field', (e) ->
                e.preventDefault()
                t = $ e.target
                f = nav.find '[name=field_name]'
                f.val t.data 'feild-type'
                f.change()
                $('#add-field').tab 'show'

            send_form = (e) ->
                check_login ->
                    form = $ e.target
                    url = form.attr 'action'
                    $.post url, form.serialize(), ->
                        form.text 'OK'
                        setTimeout -> show_tabs student, 2000
                return false
            nav.on 'submit', '#from-add-fact', send_form
            nav.on 'change', '#field-name', (e) ->
                t = $ e.target
                option = t.find ':selected'
                $('#field-descr').text option.data('descr')
            nav.on 'submit', '#sendmail', send_form

    include core/include_vote

block content
    block breadcrumb
        - if not request.GET.query
            ol.breadcrumb
                li
                    a(href='/') Выпускники
                - if grade
                    li
                        a(href="{% url 'student-list' %}?year={{ grade.graduation_year }}")
                            | {{ grade.graduation_year }}
                    li.active {{ grade.letter }}
                - elif year
                    li.active {{ year }}
                - elif char
                    li.active Буква {{ char.upper }}



    #student-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content

    nav#student-nav.navbar.navbar-default.navbar-fixed-bottom(style="height: 310px;")
      .container(style="height: 100%;")

    #students.students-list
      - for group, students in object_list
        article
          h1
            - if group.is_grade
              a(href="{% url 'student-list' %}?grade_id={{ group.pk }}")
                | {{ group }}
            - else
              | {{ group }}

          .row
            - for student in students
              .col-sm-6.student(data-href="{% url 'student-detail' pk=student.id %}")
                include include/student_item
        - empty
          p Пусто.

    - if page_obj
        - bootstrap_pagination page_obj url=request.get_full_path

    .students-bottom
