<p>
    <a href="{% url 'grade-list' %}">
        Назад к списку классов
    </a>
    /
    <a href="{% url 'student-list' grade_id=object.main_grade.id %}">
        Назад к списку учеников
    </a>
</p>

<h1>{{ object.name }}</h1>

{% for field, modifications in grouped_modifications %}
    <h3>{{ modifications.0.get_field_name_display }}</h3>

    <ul>
    {% for modification in modifications %}
        <li class="
            {% if modification.status == 'trusted' %}field-trusted{% else %}
                {% if modification.status == 'untrusted' %}field-trusted{% else %}field-hidden{% endif %}
            {% endif %}">
            {{ modification.field_value }}
            <a href="{% url 'field-vote' pk=modification.pk vote_type='upvoted' %}">+</a>
            <a href="{% url 'field-vote' pk=modification.pk vote_type='downvoted' %}">-</a>
            <a href="{% url 'field-vote' pk=modification.pk vote_type='to_delete' %}">X</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}

<p>
    <a href="{% url 'student-value-create' pk=object.pk %}">Добавить значение</a>
</p>
