extends 'core/base.html'

block nav
    li
        a(href="/") Список классов
    li.active
        a Класс "{{ grade.letter }}" выпуск {{ grade.graduation_year }} года
    li
        a(href="{% url 'grade-student-create' grade_id=grade.id %}")
            | Добавить выпускника

block scripts
    style.
      .modal-body .close {display: none;}
      .modal-footer .btn-cls {display: none;}
      .value-badge {
        background: #eee;
        color: #777;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 2px 3px;
      }
      .value-untrusted {
        font-style: italic;
      }
      .students-list li {
        margin-top: 9px;
      }
      .students-bottom {
        padding-bottom: 350px;
      }
      .student-email, .student-window {cursor: pointer;}
      #tab-student {
        overflow-y: auto;
        height: 200px;
      }
    :coffeescript
        $ ->
            modal = $ '#student-modal'
            nav = $ '#student-nav'
            nav.hide()
            students = $ '#students'
            students.on 'click', '.student-window', (e) ->
                e.preventDefault()
                astudent = $ e.target
                if not astudent.hasClass 'student'
                    astudent = astudent.parents '.student'
                url = astudent.data 'href'
                nav.load url + ' #main-content > *', ->
                    nav.slideDown()
                    suggest = nav.find '.suggest'
                    url = '{% url "suggest-list" %}'
                    suggest.typeahead
                      source: (query, process) ->
                        $.get url + '?query=' + query, (data) ->
                          process data.data
                      matcher: -> true

            students.on 'click', '.student-email', (e) ->
                e.preventDefault()
                astudent = $ e.target
                if not astudent.hasClass 'student'
                    astudent = astudent.parents '.student'
                url = astudent.data 'href'
                modal_body = $ '<div class="modal-body">'
                mc = modal.find('.modal-content')
                mc.html ''
                mc.append modal_body
                modal_body.load url + ' #tab-send', ->
                    modal.modal('show')

    include core/include_vote

block content
    h1
        | Список выпускников класса "{{ grade.letter }}"
        | {{ grade.graduation_year }} года выпуска:

    #student-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog.modal-lg(role='document')
        .modal-content

    nav#student-nav.navbar.navbar-default.navbar-fixed-bottom(style="height: 310px;")
      .container(style="height: 100%;")

    ul#students.students-list
        - for student in object_list
            li.student(data-href="{% url 'student-detail' pk=student.id %}")
                include include/student_item

            - empty
                li Пусто.

    .students-bottom
