extends 'core/base.html'

block breadcrumb
    ol.breadcrumb
        li
            a(href='/') Выпускники
        li
            a(href="{% url 'student-list' %}?year={{ grade.graduation_year }}")
                | {{ grade.graduation_year }}
        li
            a(href="{% url 'student-list' %}?grade_id={{ grade.pk }}")
                | {{ grade.letter }}
        li.active {{ object.name }}

block scripts
  style.
    .modal-body .close {display: none;}
    .modal-footer .btn-cls {display: none;}
  include core/include_vote

block content
  .modal-body
    button.close(type='button', data-dismiss='modal', aria-label='Close')
      span(aria-hidden='true') ×

    ul.nav.nav-tabs#tabs-student(role='tablist')
      li.active(role='presentation')
        a(href='#tab-student', aria-controls='tab-student', role='tab', data-toggle='tab') {{ object.name }}
      li(role='presentation')
        a#send-email(href='#tab-send', aria-controls='tab-send', role='tab', data-toggle='tab') Написать
      li(role='presentation')
        a(href='#tab-fb', aria-controls='tab-fb', role='tab', data-toggle='tab') Facebook
      li(role='presentation')
        a(href='#tab-vk', aria-controls='tab-vk', role='tab', data-toggle='tab') ВКонтакте
      li(role='presentation')
        a#add-field(href='#tab-add', aria-controls='tab-add', role='tab', data-toggle='tab') Добавить

    style.
        .field-trusted {}
        .field-untrusted {color: #aaa;}
        .field-hidden {color: #bbb; display: none;}
        .btn-vote {cursor: pointer;}
        .show-hidden {display: none; cursor: pointer;}
        .field-hidden ~ .show-hidden {display: block;}

    .tab-content
      #tab-student.tab-pane.active(role='tabpanel')
        br
        - for field, modifications in grouped_modifications.items
          p {{ modifications.0.get_field_name_display }}

          ul
            - for modification in modifications
              li(class="
                {% if modification.status == 'trusted' %}field-trusted{% else %}
                    {% if modification.status == 'untrusted' %}field-untrusted{% else %}field-hidden{% endif %}
                {% endif %}")
                - if modification.field_name == 'social_vk'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'social_fb'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'link'
                    a(href="{{ modification.field_value }}")
                        | {{ modification.field_value }}
                - elif modification.field_name == 'email'
                    a e-mail скрыт
                - else
                    {{ modification.field_value }}
                - if modification.field_name != 'email'
                  span.vote-panel
                    | &nbsp
                    a.btn-vote(data-href="{% url 'field-vote' pk=modification.pk vote_type='upvoted' %}")
                      span.glyphicon.glyphicon-ok-circle
                    | &nbsp
                    a.btn-vote(data-href="{% url 'field-vote' pk=modification.pk vote_type='downvoted' %}")
                      span.glyphicon.glyphicon-remove-circle
                    | &nbsp
                    a.btn-vote(data-href="{% url 'field-vote' pk=modification.pk vote_type='to_delete' %}")
                      span.glyphicon.glyphicon-ban-circle
            li.show-hidden
              a ...

      #tab-send.tab-pane(role='tabpanel')
        br
        - if 'email' in grouped_modifications
          - with field_email=grouped_modifications.email.0
            include core/sendmail_form
        - else
          p Нет данных о e-mail
          p
            a.add-field(href="#", data-feild-type='email') Добавить
      #tab-fb.tab-pane(role='tabpanel')
        br
        - if 'social_fb' in grouped_modifications
          - for modif in grouped_modifications.social_fb
            p
              a(href="{{ modif.field_value }}")
                | {{ modif.field_value }}
        - else
          p Нет данных о социальной сети
        p
          a.add-field(href="#", data-feild-type='social_fb') Добавить
      #tab-vk.tab-pane(role='tabpanel')
        br
        - if 'social_vk' in grouped_modifications
          - for modif in grouped_modifications.social_vk
            p
              a(href="{{ modif.field_value }}")
                | {{ modif.field_value }}
        - else
          p Нет данных о социальной сети
        p
          a.add-field(href="#", data-feild-type='social_vk') Добавить
      #tab-add.tab-pane(role='tabpanel')
        br
        include core/fieldvalue_form

  .modal-footer
    button.btn.btn-cls.btn-primary(type='button', data-dismiss='modal') Закрыть
