extends 'core/base.html'

block nav
    li
        a(href="/") Список классов
    li.active
        a Класс "{{ grade.letter }}" выпуск {{ grade.graduation_year }} года

block scripts
    :coffeescript
        $ ->
            modal = $ '#student-modal'
            students = $ '#students'
            students.on 'click', '.student', (e) ->
                astudent = $ e.target
                url = astudent.data 'href'
                modal.find('.modal-body').load url
                modal.modal('show')

block content
    h1
        | Список выпускников класса "{{ grade.letter }}"
        | {{ grade.graduation_year }} года выпуска:

    #student-modal.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-body

    ul#students
        - for student in object_list
            li
                a.student(data-href="{% url 'student-detail' pk=student.id %}")
                    | {{ student.name }}

            - empty
                li Пусто.

    p
        a.btn.btn-default(href="{% url 'grade-student-create' grade_id=grade.id %}")
            | Добавить выпускника
